<h1><strong>Anton Smirnov</strong></h1>
<img src="assets/Javaburger.jpg" alt="Main photo" title="Anton Smirnov" height="400">

<h2>DESIRED POSITION</h2>
<hr>
<div>
  <p><strong>Java Developer</strong></p>
</div>

<h2>ABOUT</h2>
<hr>
<div>
  <p>Goal-oriented and flexible, able to puzzle out any matter within a short time as my work experience shows.<br>
    Inquisitive and having a permanent need to self-develop and reach new horizons. If I don’t have the answer, I will
    find it anyway and with no doubt. I think Java and development a great field for development and creativity.<br>
    Being a team-player & thinking out of the nutshell of task is confirmed manyfold by successfully outfited complex
    projects during my work as a lawyer.
  </p>
</div>

<h2>WORK EXPERIENCE</h2>
<hr>

<table>
  <tr>
    <td>2022</td>
    <td>
      <div>
        <h3><strong>Individual Entrepreneur (Software Developer)</strong></h3>
        <h4>Minsk</h4>
        <div>
          <p><strong>Junior Java Backend Developer</strong></p>
          <p>Several backend server apps & Telegram bots tasks & works Separate modules development, modules
            modification.</p>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>2012- 2022</td>
    <td>
      <div>
        <h3><strong>Alfa-Distribution Holding,<br>
          Law Company 'Veda Consulting'</strong></h3>
        <h4>Minsk</h4>
        <div>
          <p><strong>IT-Lawyer, International trade lawyer, English and French interpreter, Notary interpreter, Deputy
            Director</strong></p>
          <p>Holding full legal assistance, incl. IT legal matters (contracts and disputes), drafting international
            contracts
            and other documentation in English, notary translations.</p>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>2010-2012</td>
    <td>
      <div>
        <h3><strong>European Humanities University (Vilnius)</strong></h3>
        <h4>Vilnius, <a href="https://ehu.lt/" target="_blank">ehu.lt</a></h4>
        <div>
          <p><strong>Lecturer (Distance learning)</strong></p>
          <p>Private International Law & International Trade Law course lecturer, author of courses and manuals.</p>
        </div>
      </div>
    </td>
  </tr>
</table>

<h2>EDUCATION</h2>
<hr>

<table>
  <tr>
    <td>2022</td>
    <td>
      <div>
        <h3><strong>IT-Academy</strong></h3>
        <div>
          <p>
            Java Enterprise Solutions Development Technologies <br>
            <em>Project: <a href="https://github.com/AntonioBuenos/GuitarStoreProject" target="_blank">Web Store REST
              App.</a></em><br>
            <em>Used tools: Java, Spring (Boot, Data JPA, Security, Cache, Mail etc.), Hibernate, Hikari, PostgreSQL,
              Lombok, Flyway, Validation, Thymeleaf, Maven, Git, OpenAPI.</em>
          </p>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>2022</td>
    <td>
      <div>
        <h3><strong>IT-Academy</strong></h3>
        <div>
          <p>
            Java Fundamentals (Grade:10) <br>
            <em>Projects:
              <a href="https://github.com/AntonioBuenos/Calculator" target="_blank">Single-Vector-Matrix calculation
                program</a>,
              <a href="https://github.com/AntonioBuenos/MusicalInstrumentsStoreThreadSimulator" target="_blank">Multithread
                project</a>.
            </em><br>
            <em>Used tools: Java SE (incl. Collections, Localization, Multithreading, Design Patterns, IO), JUnit5,
              Git.</em>
          </p>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>2022</td>
    <td>
      <div>
        <h3><strong>JavaRush.ru</strong></h3>
        <div>
          <p>
            Java Core, Java Collections, Java Multithreading <br>
            <em>Projects: Text/HTML converter, archivator and others. </em><br>
          </p>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <div>
        <h3><strong>European Humanities University</strong></h3>
        <div>
          <p>
            Private International Law. Graduate and Post-Graduate. <br>
            <em>Achievements: diploma with honors, several scientific works published in reputable reviews,
              participation in Jean Pictet International Humanitarian Law Competition (Cleveland, US), lecturer, author
              of courses and manuals (after graduating). </em><br>
          </p>
        </div>
      </div>
    </td>
  </tr>
</table>

<h2>EDUCATION</h2>
<hr>
<div>
  <p>Personal interests:</p>
  <ul>
    <li>sound engineering: record, mix & mastering (several records as portfolios);</li>
    <li>Chinese and Japanese teas (classification, making, culture etc.);</li>
    <li>playing musical instruments (drums, blues harp, guitar).</li>
  </ul>
</div>


